
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');


body{
    margin: 0;
    padding: 0;
}
h2{
    margin: 20px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.cartao{
    display: flex;
    
    height: min-content;
    width: 600px;
    padding: 60px;
    justify-content: space-evenly;
    font-size: 25px;
    
}
/*Imagem cartão*/
.img{ 
    position: relative;
    display: inline-block;
    margin-top: 15px;
    width: 300px;
    /*box-shadow: 10px 0 30px rgb(17, 17, 17);*/
    filter: drop-shadow(10px 0 30px rgb(5, 5, 5));
    transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
}
h3{
    background-color: #fcead5;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    
}
div{
    display: flex;
    align-items: center;
}
main{
    display: flex;
    background-color: #fcead5;
}

span > img{
    width: 30px;
    height: auto;
}
span{
    width: 160px;
    height: auto;
    text-align: center;
}
#titulo{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.vantagens{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 180px;
  
}

